@tailwind components;

@layer components {
  .hero-container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .hero-content {
    display: flex;
  }
}
