@tailwind components;

@layer components {
  .features-container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    overflow: hidden;
  }

  .features-detail {
    @apply font-inter;
    margin: 0 auto;
  }
  .features-heading {
    @apply font-bold text-4xl;
  }
  .features-content {
    height: 100vh;
    /* border: 1px solid burlywood; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .features-overview {
    /* border: 1px solid white; */
    position: relative;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
  }
  .features-overview--inner {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
    height: 100%;
    background-color: black;
    /* border: 1px solid green; */
  }
  .features-image {
    width: 620px;
    margin: 0 auto;
    height: auto;
    object-fit: contain;
  }
}
