@tailwind components;

@layer components {
	.features-container {
		min-height: 100vh;
		height: 100%;
		width: 100%;
		position: relative;
	}
	.features {
		@apply container space-x-5 grid-cols-2;
		position: sticky;
		display: grid;
		position: absolute;
		top: 0;
		left: 0;
		background-color: black;
		min-height: 100vh;
		height: 100%;
	}
	.features-content {
		@apply space-y-5 col-span-1;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		margin: 0 4rem;
	}
	.features-heading {
		@apply text-4xl font-bold;
	}
	.features-descriptions {
		@apply text-white/70;
	}
	.features-image {
		width: 620px;
		height: auto;
		object-fit: contain;
	}
}
