@tailwind components;

@layer components {
	.hero-container {
		min-height: 100svh;
		height: 100%;
		overflow-x: hidden;
		position: relative;
	}

	.hero-content {
		height: 100svh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.text-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.heading {
		@apply font-inter font-semibold text-5xl;
	}
	.paragraph {
		@apply text-xl;
	}
}
